.btn-primary {
    background-color: #ff8888;
    border: none;
    font-size: 20px;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #ff3333;
}

.icon-round {
    background-color: #ff8888;
    border-radius: 100%;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    margin: 0 10px;
}

.icon-round:hover {
    background-color: #ff3333;
}

.navbar {
    .navbar-collapse {
        flex-grow: 0;
    }
    padding: 15px;
    img {
        max-width: 150px;
    }
    span {
        a {
            margin: 10px;
            // text-align: center;
        }
    }
    .border-group a {
        // border-bottom: 1px solid grey;
        padding: 10px;
    }
    .border-group a:hover {
        color: orangered
    }
}

#slideshow {
    background-color: #eee;
    h1 {
        font-weight: bold;
        margin-bottom: 50px;
    }
    p {
        margin-bottom: 25px;
    }
    .row {
        .left {
            padding: 75px 50px 20px;
        }
        .right {
            padding: 30px;
        }
    }
}

#topproject {
    padding: 60px 0 20px;
    .title {
        margin-bottom: 50px;
    }
    .card {
        h5 {
            margin-bottom: 20px;
        }
    }
}

#about {
    padding: 60px 0;
    background-color: #eee;
}

#footer {
    background-color: #999;
    padding: 50px 0 0;
    color: #fff;
    img {
        max-width: 200px;
    }
    span {
        margin-bottom: 5px;
    }
    .icon-groups * {
        font-size: 20px;
        margin: 0 5px;
    }
    .allrights {
        margin-top: 30px;
        border-top: 1px solid white;
        padding: 10px 0;

    }
}

.project, #project-detail {
    background-color: #eee;
    padding: 20px 0 40px;
}

#project-detail {
    #title{
        text-align: center;
        padding: 20px 0;
    }
}

.step {
    margin-bottom: 40px;
    font-size: 20px;
    img {
        max-width: 100%;
    }
}

#introduction {
    margin: 40px 0;
    .btn {
        font-size: 20px;
    }
    .infobox {
        font-size: 20px;
        background-color: #D9D9D9;
        padding: 20px 30px;
        border-radius: 10px;
    }
    h3 {
        font-weight: bold;
    }
    p {
        font-size: 17px;
    }
    img {
        max-width: 100%;
    }
}

#comments {
    .comment-box, .comment-detail {
        background-color: #fff;
    }
    textarea {
        width: 100%;
    }
    
}